@{ 
    List<Dictionary<string, string>> list = ViewBag.list;
}

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*@foreach (var l in list)
{
    @l["column1"];
    @l["column2"];
}*@
