@{
    ViewBag.Title = "Joeys on the road";
}

<link href="~/Content/index.css" rel="stylesheet" />


<div class="background-image"></div>
<div>
    <select>
        <option value="choose">choose postcode</option>
        <option value="caulfield">Caulfield 3162</option>
        <option value="clayton">Clayton 3168</option>
    </select>
</div>
<div id="main" class="mainContainer">
    <a href="factors.html"><button id="startbutton" class="start-btn" formaction="factors.html">Challenge Accepted</button></a>
</div>
<div class="blurred-pic"></div>