.modal{
	/*display: none;*/
	position: fixed;
	z-index: 1;
	left: 50%;
	top: 50%;
	height: 30%;
	width: 30%;
	overflow: auto;
	background-color: rgba((0,0,0,0.5);
}

.model-content {
	background-color: #f4f4f4;
	margin:60% auto;
	padding: 20px;
	width: 70%;
}
