



<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("START", "About", "Home")</li>
    <li>@Html.ActionLink("CHALLENGE!", "Challenge", "Home")</li>
    <li>@Html.ActionLink("ABOUT US", "About", "Home")</li>
</ul>

